.page-header {
    padding-left: 30px;
    padding-bottom : 10px; 
    padding-top : 10px;
    width: 435%;
    background-color : #27A599;
}
button {
    margin-top: 10px;
    margin-bottom : 10px;
    margin-left: 30px;
}